

body{
    font-family: 'Open Sans' sans-serif;
    background-color: coral;
    color: black;
}
.container
{
    width:100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("./body-bg3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.calculator
{
    width: 25vw;
    height: 85vh;
    background-color: rgb(12, 13, 14);
    margin: 0 auto;
    top: 40px;
    position: relative;
    border-radius:20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding-top: 1px;
   
}
#result{
	background-color: rgb(93, 148, 107);
	border-radius: 10px;
	margin: 20px;
	 margin-top: 50px;
	 box-shadow: inset 0 0 20px #000000 ;
	 
}
#history{
	text-align: right;
	height: 20px;
	margin: 0 20px;
	padding-top: 20px;
	font-size: 15px;
	color: #0e0d0d;
}
#output{
	text-align: right;
	height: 60px;
	margin: 10px 20px;
	font-size: 30px;
}
#keyboard{
	height: 400px;
	margin-left: 25px;
	margin-top: 10px;
}
.operator, .number, .empty{
	width: 50px;
	height: 50px;
	margin: 15px;
	float: left;
	border-radius: 50%;
	border-width: 0;
	font-weight: bold;
	font-size: 15px;
}
.number, .empty{
	background-color: #eaedef;
}

.number, .operator{
	cursor: pointer;
}
.operator:active, .number:active{
	font-size: 13px;
}
.operator:focus, .number:focus, .empty:focus{
	outline: 0;
}
button:nth-child(4){
	font-size: 20px;
	background-color: #b220a6;
}
button:nth-child(8){
	font-size: 20px;
	background-color: #40a019;
}
button:nth-child(12){
	font-size: 20px;
	background-color: #d4ba22;
}
button:nth-child(16){
	font-size: 20px;
	background-color: #7d93e0;
}
button:nth-child(20){
	font-size: 20px;
	background-color: #9477af;
}
button:hover
{
transition: 1s;
transform: scale(1.1);
box-shadow:black ;
color: darkgreen;
}
h3
{
	color: darkgoldenrod;
	margin-left: 10px;
}
@media only screen and (min-width: 600px) 
{
body{
    font-family: 'Open Sans' sans-serif;
    background-color: coral;
    color: black;
}
.container
{
    width:100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("./body-bg3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.calculator
{
   
    background-color: rgb(12, 13, 14);
    margin: 0 auto;
    top: 40px;
    position: relative;
    border-radius:20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding-top: 1px;
   
}
#result{
	background-color: rgb(93, 148, 107);
	border-radius: 10px;
	margin: 20px;
	 margin-top: 50px;
	 box-shadow: inset 0 0 20px #000000 ;
	 
}
#history{
	text-align: right;
	height: 20px;
	margin: 0 20px;
	padding-top: 20px;
	font-size: 15px;
	color: #0e0d0d;
}
#output{
	text-align: right;
	height: 60px;
	margin: 10px 20px;
	font-size: 30px;
}
#keyboard{
	height: 400px;
	margin-left: 25px;
	margin-top: 10px;
}
.operator, .number, .empty{
	width: 50px;
	height: 50px;
	margin: 15px;
	float: left;
	border-radius: 50%;
	border-width: 0;
	font-weight: bold;
	font-size: 15px;
}
.number, .empty{
	background-color: #eaedef;
}

.number, .operator{
	cursor: pointer;
}
.operator:active, .number:active{
	font-size: 13px;
}
.operator:focus, .number:focus, .empty:focus{
	outline: 0;
}
button:nth-child(4){
	font-size: 20px;
	background-color: #b220a6;
}
button:nth-child(8){
	font-size: 20px;
	background-color: #40a019;
}
button:nth-child(12){
	font-size: 20px;
	background-color: #d4ba22;
}
button:nth-child(16){
	font-size: 20px;
	background-color: #7d93e0;
}
button:nth-child(20){
	font-size: 20px;
	background-color: #9477af;
}
button:hover
{
transition: 1s;
transform: scale(1.1);
box-shadow:black ;
color: darkgreen;
}
h3
{
	color: darkgoldenrod;
	margin-left: 10px;
}
}